body{
    background-color: skyblue;
}
.heading{
    color: white;
    background: rgb(49, 185, 238);
    font-size: xx-large;
    text-align: center;
}
.body{
    position: relative;
}
.body .center{
    border: 5px solid white;
    margin: auto;
    width: 29%;
    padding: 10px;
  }
  .body .center a{
    background-color: #fff;
    color: black;
    text-decoration: none;
    font-weight: 600;

    width: 50%;
    padding: 5px 10px;
  }